@import "./_base_theme.css";
@import "./header.css";
@import "./otp-list.css";
@import "./login.css";
@import "./modal.css";

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: var(--font-family-base);
	margin: 0;
	padding: 10px;
	background-color: var(--color-bg);
	color: var(--color-text);
}

form {
	display: flex;
	align-items: center;
	gap: var(--gap-small);
	margin: 0.75rem 0 1rem;
}

input[type="text"] {
	width: min(100%, 38rem);
	padding: 0.45rem 0.6rem;
}

input[type="search"] {
	width: 100%;
	padding: 0.45rem 0.6rem;
	justify-self: center;
}
